#games {
    margin-left: 120px;
}

#games .panel-body{
    margin-top: 3rem;
    padding-left: 1%;
    padding-right: 0.5%;
}

#games .panel{
   text-align: center;
   padding-top: 5%;
}

#games form {
   padding-left: 40%;
    padding-top: 3%;
    padding-bottom: 2%;
}

#games h1 {
    text-align: center;
    margin-top: 100px;
}


#games .card {
    width: 98% !important;
    
}