<div class="panel-heading">
  <h1 class="panel-title">Create Motor</h1>
</div>
<div class="bs-component">
 
  <div class="progress">
    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="bs-component">
      <form [formGroup]="form" (ngSubmit)="createMotor()">

          <fieldset>
            <legend>City</legend>
            <div class="form-group">
              <select  formControlName="city" class="custom-select">
                <option value="Varna">Varna</option>
                <option value="Sofia">Sofia</option>
                <option value="Burgas">Burgas</option>
              </select>
              <div *ngIf="form.get('city').touched && form.get('city').invalid" class="alert alert-danger">
                <div *ngIf="form.get('city').errors.required">City is reqired!</div>
                </div>
            </div>
            
            <legend>Model</legend>
            <div class="alert alert-dismissible alert-success">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Well done!</strong> You successfully read.
              <div class="form-group has-success">
                <input  formControlName="model" type="text" placeholder="enter model"  class="form-control is-valid" id="inputValid">
                <div *ngIf="form.get('model').touched && form.get('model').invalid" class="alert alert-danger">
                  <div *ngIf="form.get('model').errors.required">Model is reqired!</div>
                  <div *ngIf="form.get('model').errors.minlength">Model must be at least 3 characters!</div>
                  </div>
              </div>        
            </div>

            <legend>Image</legend>
            <div class="alert alert-dismissible alert-secondary">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Well done!</strong> You successfully read 
              <div class="form-group has-success">
                <input formControlName="image" type="text" placeholder="enter url image"  class="form-control is-valid" id="inputVali">
                <div *ngIf="form.get('image').touched && form.get('image').invalid" class="alert alert-danger">
                  <div *ngIf="form.get('image').errors.required">Image is reqired!</div>
                  <div *ngIf="form.get('image').errors.minlength">Image must be at least 5 characters!</div>
                  </div>
              </div>            
            </div>
  
            <legend>Price</legend>
            <div class="alert alert-dismissible alert-info">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Heads up!</strong> This , but it's 
              <div class="form-group">
                <div class="form-group">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">$</span>
                    </div>
                    <input formControlName="price" placeholder="enter price" type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                    <div class="input-group-append">
                      <span class="input-group-text">.00</span>                   
                    </div>   
                  </div>
                  <div *ngIf="form.get('price').touched && form.get('price').invalid" class="alert alert-danger">
                    <div *ngIf="form.get('price').errors.required">Price is reqired!</div>
                    </div>
                </div>
              </div>
            </div> 

           <legend>Description</legend>        
            <div class="form-group">
              <textarea formControlName="description" placeholder="Lorem ipsum dolor sit amet consectetur adipisicing elit. Error vitae accusantium fugiat quidem molestias inventore harum. Eius libero quos odit, laudantium vero nesciunt facilis culpa debitis. Tempore ratione alias consectetur?" class="form-control" id="exampleTextarea" rows="3"></textarea>
              <div *ngIf="form.get('description').touched && form.get('description').invalid" class="alert alert-danger">
                <div *ngIf="form.get('description').errors.required">Description is reqired!</div>
                <div *ngIf="form.get('description').errors.minlength">Description must be at least 10 characters!</div>
                </div>
            </div> 
          </fieldset>
          <button type="submit" class="btn btn-outline-secondary">Create Motor</button>
      </form>
    </div>
  </div>
</div>