<router-outlet></router-outlet>
<div class="container">
  <section style="height:80px;"></section>
<div class="row" style="text-align:center;">
</div>
  <!----------- Footer ------------>
  <footer class="footer-bs">
      <div class="row">
        <div class="col-md-3 footer-brand animated fadeInLeft">

          <img src="https://cdn.shopify.com/s/files/1/0290/5565/files/proudly-canadian_large.png?674">

              <p>© 2019 MotorBg, All rights reserved</p>
          </div>
        <div class="col-md-4 footer-nav animated fadeInUp">
           
            <div class="col-md-6">
                  <ul class="list">
                      <li><a routerLink="/about">About Us</a></li>
                      <li>Contacts</li>
                      <li>Terms & Condition</li>
                      <li>Privacy Policy</li>
                  </ul>
              </div>
          </div>
        <div class="col-md-2 footer-social animated fadeInDown">
            <h4>Follow Us</h4>
            <ul>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Instagram</li>
                <li>RSS</li>
              </ul>
          </div>
       
      </div>
  </footer>
  <section style="text-align:center; margin:10px auto;"><p>Designed by <a href="https://veskostoyanov.github.io/blog/">Vesko S</a></p></section>

</div>
