.bot {
  padding-bottom: 55px;
    padding-top: 25px;
    padding-left: 110px;
  }
  .moto {
    padding-bottom: 35px;
  }
  .motoo {
    padding-bottom: 55px;
  }

  #imgg {
  width: 100px;
  }

  .title {
    padding-top: 50px;
    padding-bottom: 25px;
  }

  .name {
    padding-right: 50px;
  }

  .imgg { 
      width: 150px;
  }

  .back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../images/ground.jpg"); 
    background-size: cover;
    
  }

  .back p {
    color: blanchedalmond;
  }
  .back h1 {
    color: blanchedalmond;
  }
  .back h5 {
    color: blanchedalmond;
  }

  .back span {
    color: orange;
  }

  .nomoto {
    padding-left: 10px;
  }

  .bor {
    border: 1px solid black
  }

  .footer{
     position: fixed;
    
  }

  .text p{
   color: #FFDF00;
   font-style: italic;
   font-size: 20px;
  }
  
