<form action="/edit/comment/{{comment._id}}" method="POST" class="register-form">
<fieldset>
    <legend>
        <p>{{comment.creator}}</p>
    </legend>
    <p>{{comment.title}}</p>
    <input type="text" name="comment" value="{{comment.comment}}" placeholder="comment" />
    <button type="submit">Edit</button>
    </fieldset>
</form>