.site-wrapper {
    max-width: 85rem;
    margin: 0 auto;
}

.site-header .site-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 0 1em 0;
}

.site-nav ul {
    display: flex;
    align-items: center;
}

.site-nav li {
    display: block;
}

.site-header a {
    transition: color 0.2s ease-in;
    color: #2A2F36;
}

.site-nav a {
    font-weight: 500;
    display: block;
    padding: 0.5em 1em;
    font-size: 1.3em;
}

.site-nav li.current-page a {
    color: #3498db;
}

.site-header a:hover {
    color: #3498db;
}

.site-title a {
    font-weight: 600;
}

.site-media {
    width: 100%;
    height: 108vh;
    overflow: hidden;
    background: url('https://images.unsplash.com/photo-1546795729-f3a5d42087f5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60') no-repeat center center/cover;
    position: relative;
}

.site-media::before {
    display: block;
    content: '';
    background: rgba(19, 41, 48, .8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.site-media .site-wrapper {
    color: #fff;
    position: absolute;
    top: 12rem;
    left: 10rem;
    width: 60%;
}

.site-media .site-wrapper h1 {
    font-size: 4.5rem;
    font-weight: 900;
}

.site-media .site-wrapper p {
    font-size: 1.7rem;
}

.social {
    display: flex;
    padding-top: 3rem;
}

.social li {
    display: block;
    list-style: none outside;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #ABB7B7;
    width: 4rem;
    height: 4rem;
    margin: 0 0.5rem;
    line-height: 1;
    text-align: center;
}

.social a:hover {
    background: white;
}

.social i {
    font-size: 2rem;
    color: #262626;
}

.site-content {
    width: 80%;
    background: white;
    position: relative;
    top: -5rem;
    margin: 0 auto;
}

.site-content .site-wrapper {
    margin-bottom: 4rem;
    background: #f4f5f6;
    display: flex;
    align-items: center;
    width: 100%;
    height: 35rem;
}

.img-content {
    background: url("https://images.unsplash.com/photo-1488998427799-e3362cec87c3?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80") no-repeat center center/cover;
    width: 50%;
    height: 100%;
    transform: translate(-1%, 0);
}

.text-content {
    padding: 2rem;
    position: relative;
    background: white;
    width: 50%;
    height: 90%;
    right: 2rem;
    color: #2A2F36;
    font-size: 18px;
}

.text-content h2 {
    font-weight: 700;
    padding-bottom: 0.3rem;
}

.text-content h2:hover {
    color: #3498db;
}

.text-content p:nth-child(2) {
    color: #3498db;
    padding-bottom: 1rem;
}

.text-content p:nth-child(3) {
    font-size: 24px;
    color: #6C7A89
}

.site-content .site-wrapper:nth-child(even) .img-content {
    order: 2;
}
.site-content .site-wrapper:nth-child(even) .text-content {
   left: 3rem;
}

.site-footer .site-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
}

.site-footer .social i {
    color: white;
}

.site-footer .social a:hover {
    background: #3498db;
}

.info {
    display: block;
    margin-bottom: 5rem;
}

.info p:nth-child(1) {
    font-size: 25px;
}

.info p {
    color: #ABB7B7;
    opacity: 0.4;
    margin: 0.8rem;
    transition: opacity 0.2s ease-in;
}

.info p:hover {
    opacity: 1;
}