#profile {
    margin-top: 150px;
}

#profile .frame {
margin-left: 150px;
}

#profile .button-play {
    margin-right: 500px;
    margin-top: 150px;
}

#profile .header {
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 110px;
}

#profile .img {
   top: -220px;
   bottom: 200px;
   left: 950px;
    width: 100px;
    height: 100px;

}

#profile .profile-div {
    margin-left: 400px;
}