<div class="alert alert-dismissible alert-warning">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 class="alert-heading">Warning!</h4>
  <p class="mb-0">Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, <a href="#" class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
</div>
<div class="bs-docs-section log">
    <div class="col-lg-6">
        <div class="bs-component">
            <form #form="ngForm" (ngSubmit)="register(form.value)">

              <div class="alert alert-dismissible alert-primary">
                <fieldset>
                  <h2>Register</h2>
                  <div class="form-group">
                    <label for="exampleInputEmail1">User Name</label>
                    <input ngModel name="username" #userField="ngModel" type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter username" required>
                    <div *ngIf="userField.touched && userField.errors" class="alert alert-danger">Username is required!</div>
                    <small id="emailHelp" class="form-text text-muted">Please choose an username and enter it!</small>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword">Password</label>
                    <input ngModel name="password"  #passField="ngModel" type="password" class="form-control" id="exampleInputPassword" placeholder="Password" required>
                    <div *ngIf="passField.touched && passField.errors" class="alert alert-danger">Password is required!</div>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your password with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Re-Password</label>
                    <input ngModel name="rePassword" #rePassField="ngModel" type="password" class="form-control" id="exampleInputPassword1" placeholder="Re-Password" required>
                    <div *ngIf="rePassField.touched && rePassField.errors" class="alert alert-danger">Re-Password is required!</div>
                    <small id="emailHelp" class="form-text text-muted">Please repeat the password again!</small>
                  </div>
                 </fieldset>
                 <button type="submit" class="btn btn-secondary">Register! »»»</button>
               
              </div>

                
                 </form>
            </div>
            </div>
    </div>
