<form [formGroup]="form" (ngSubmit)="createVideo()" class="video text-center border border-light p-5">
    <h1>Add a Video to Data Base!</h1>

    <div class="form-group">
        <label for="title">Video Model</label>
        <input formControlName="model" type="text" class="form-control" placeholder="enter model">
        <div *ngIf="form.get('model').touched && form.get('model').invalid" class="alert alert-danger">
            <div *ngIf="form.get('model').errors.required">Model is reqired!</div>
            </div>
    </div>
    <div class="form-group">
        <label for="videoUrl">Video Url</label>
        <input formControlName="url" type="text" class="form-control" placeholder="Video Url">
        <div *ngIf="form.get('url').touched && form.get('url').invalid" class="alert alert-danger">
            <div *ngIf="form.get('url').errors.required">Url is reqired!</div>
            </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<h2 *ngIf="videos" class="text-center">There are {{videos.length}} videos in the data base!</h2>

<ul  *ngFor="let video of videos" class="videos list-group">

    <li  [@state] class="list-group-item">
       
    <h5 class="mb-1">{{video.model}}</h5>
        <span class="float-right">
            <button (click)="deleteVideo(video['_id'])" class="btn btn-danger">Delete</button>
        </span>
    </li>

</ul>
