body {
    overflow-x: hidden;
}
h1 {
    text-align: center;
    padding: 5rem 0;
}

#navbarColor {
    display: none !important;
}

#box {
    display: none;
}

.radio {
    display: none;
}

main p {
    font-family: 'PT Serif', serif;
    text-align: center;
    color: black;
}

.nav-link:hover {
    color: grey !important;
}

#radio1:checked+.coding {
    display: block !important;
}

#footer {
    max-width: 100%;
    height: 15rem;
    background-color: rgb(255, 255, 255);
    margin-bottom: 2rem;
    padding-right: 3em;
    margin-top: 20rem;
}

#footer-ul-second p {
    font-family: 'PT Serif', serif;
    text-align: center;
    color: black;
}

#footer-ul-second {
    display: block !important;
    padding-left: 7rem !important;
    margin-left: 6rem;
}

#footer-ul-first {
    margin-left: 6rem;
    display: flex;
}

#footer-ul-first li {
    padding: 0.8rem;
    margin-bottom: 4rem;
    font-size: 0.8rem;
}

#footer-text {
    text-align: left;
    margin-left: 8rem;
    font-size: 0.8;
}

#footer-text p {
    text-align: left;
}

#footer-p-first {
    font-size: 1.5rem;
}

#footer-p-second {
    font-size: 1.4rem;
}

#footer-p-third {
    font-size: 1.2rem;
}

#footer-p-fourth {
    font-size: 1rem;
}

#footer-img {
    margin-left: 6rem;
    width: 7rem;
    height: auto;
    border-radius: 30rem;
    margin-top: 1rem;
}

.footer-mobile {
    max-width: 100%;
    text-align: center;
}

.coding {
    max-width: 100%;
    height: 100vh;
    padding-bottom: 300px;
    display: none !important;
}

img {
    width: 100%;
    height: auto;
}

#profile {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 15em;
}

#profile h1 {
    text-align: center;
    margin-bottom: 2rem;
}

#radio2:checked+.coding {
    display: block !important;
}
#radio3:checked+.coding {
    display: block !important;
}

#projects {
    display: none !important;
    margin-top: 3rem;
}

#projects h3 {
    padding-bottom: 13rem;
    text-align: center;
}

#jumbotron {
    padding-bottom: 14rem;
    margin-bottom: 0;
}

#jumbotron h3 {
    margin-bottom: 5rem;
    margin-left: 4rem;
}

#jumbotron-container {
    padding-top: 7rem;
    background-color: #2a3439;
    padding-bottom: 0;
    color: #FFFFFF;
}

#jumbotron-container p {
    color: #FFFFFF;
}

i {
    font-size: 8rem !important;
    margin-bottom: 1rem;
}

#jumbotron-content {
    margin-top: 10rem;
    margin-left: 2rem;
    padding-bottom: 10rem;
    max-width: 100%;
}

#jumbotron-content div {
    width: 33%;
}

#jumbotron-content p {
    color: #FFFFFF;
    width: 80%;
    text-align: left;
}

#nodejs-pic, #js-pic {
    color: yellow;
    padding-left: 3rem;
}

#react-pic, #angular-pic {
    padding-left: 1.8rem;
}

#react-pic {
    color: #03A9F4;
}

#angular-pic {
    color: red;
}

#html-pic, #css-pic {
    padding-left: 3rem;
}

#html-pic {
    color: orange;
}

#css-pic {
    color: #03A9F4;
}

#btn-projects {

    padding: 2.5rem 3.5rem;
    margin-left: 37rem;
    margin-top: 10rem;
}

#btn-certificates {
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 20rem;
}

@media (max-width: 992px) {
    body {
        padding: 0 0.1rem;
    }
    .profile {
        padding: 0 2rem;
    }
    .box:checked+#navbarColor {
        display: block !important;
    }
    #navbarColor03 {
        display: none !important;
    }
    .profile {
        width: 100%;
        padding: 0 2em;
        margin-top: 5em;
        margin: 0 auto;
    }
    .profile p {
        text-align: left;
    }
    #footer {
        display: block;
    }

    i {
        font-size: 5rem !important;
        margin-bottom: 1rem;
    }
}

@media (min-width: 992px) {
    #navbarColor {
        display: none !important;
    }
    .profile {
        max-width: 40%;
        margin-top: 10em;
        margin: 0 auto;
    }
    #footer-mobile {
        display: none;
    }
}

.jum {
    padding-top: 3rem;
    background-color: #2a3439;
    padding-bottom: 15rem;
}

.jum p {
    color: #FFFFFF !important;
}

.profile div {
    padding-top: 3rem;
}

#projects-title {
    padding-top:5rem;
    padding-bottom: 10rem;
}

