<form action="/course/edit/{{_id}}" method="POST" class="text-center border border-light p-5">
    <h1>Edit Course</h1>
    <div class="form-group">
        <label for="title">Course Title</label>
        <input name="title" type="text" class="form-control" placeholder="Course name" value={{title}}>
    </div>
    <div class="form-group">
        <label for="description">Course Description</label>
        <textarea name="description" class="form-control" placeholder="Description">{{description}}</textarea>
    </div>
    <div class="form-group">
        <label for="imageUrl">Image url</label>
        <input name="image" type="text" class="form-control" placeholder="Image Url"
            value={{image}}>
    </div>
    <div class="form-check">
        <input name="isPublic" type="checkbox" class="form-check-input" id="check-box" checked>
        <label class="form-check-label" for="check-box">Public</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>