 .panel-body{
     margin-top: 3rem;
     padding-left: 1%;
     padding-right: 0.5%;
 }

 .panel{
    text-align: center;
    padding-top: 5%;
 }

 form {
    padding-left: 40%;
     padding-top: 3%;
     padding-bottom: 2%;
 }

 h1 {
     text-align: center;
 }
