* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}

.a {
    text-decoration: none;
    color: #5d89a1;
}


 .body {
    text-align: center;
    padding: 40px;
}

.body > div {
    text-align: left;
    display: inline-block;
    clear: both;
} 

.h1 {
    padding: 20px;
    background-color: #5d89a1;
    color: white;
} 

 .h2 {
    padding: 10px 20px;
    background-color: #b6cedb;
} 



.section {
    padding: 20px 10px;
} 



.ul {
    padding: 10px;
    list-style-type: none;
} 

.ul>li {
    margin: 10px 0px;
}

.section::after {
    clear: both;
}

.spacer {
    padding: 20px;
}
