.hotelImg{
    max-width: 30%;
    min-width: 35%;
  }

  .form button:hover,.form button:active,.form button:focus {
    background: #43A047;
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: #4CAF50;
    text-decoration: none;
  }
 
  .login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }
  .likeBtn{
    max-width: 25px;
  }

  .likeBtn{
    max-width: 25px;
  }

  .des {
    padding: 75px;
  }

  .mod {
    padding: 5px;
  }