 .panel-body{
     margin-top: 3rem;
     padding-left: 1%;
 }

 .panel-title{
    text-align: center;
    padding-top: 7%;
    padding-bottom: 2%;
 }

 form {
    padding-left: 40%;
     padding-top: 13%;
     padding-bottom: 2%;
 }

 h1 {
     text-align: center;
 }