<div class="card-footer text-muted">
 
  </div> 
  
<div *ngIf="singleMotor"  class="container w-50 mt-5 card mb-3">
<h3 class="card-header">{{singleMotor.model}}</h3>                
      <img class="thumbnail" src="{{singleMotor.image}}">
      <div class="card-body">
      <p class="card-text">{{singleMotor.description}}</p>
      </div>
      <ul class="list-group">
        <li class="list-group-item"><h5>Price:  </h5>
          <span >{{singleMotor.price}}$ </span>
        </li>
        <li class="list-group-item"> <h5>City: {{singleMotor.city}} </h5>
        </li>   
      </ul>
      

  </div>
  <div>  <a *ngIf="!isCreator && !auth.isUserAdmin()" (click)=like() class="btn btn-outline-danger a-btn">Like it!</a>
  <a *ngIf="auth.isUserAdmin()" (click)=delete() class="btn btn-outline-danger a-btn">Delete</a></div>
  <a *ngIf="isCreator" routerLink='/motor/edit/{{singleMotor._id}}' class="btn btn-outline-danger a-btn">Edit</a>
  <div class="card-footer text-muted">
 
  </div>
