#motor-details img {
    width: 100%;
    height: auto;  
}

#motor-details .container{
    padding-top: 2%;
    margin: 0 auto
}

#motor-details .like{
    width: 4%;
    height: 2vw;
}

#motor-details h5{
     display: inline;
 }

 #motor-details .card-header {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 2%;
 }

 #motor-details .a-btn {
     margin-left: 43%;
     margin-bottom: 3%;
     padding-right: 3rem;
     padding-left: 3.5rem;
 }
 
 @media (min-width: 990px) {

   

    #motor-details .container{ 
        width: 50%;
    }

    #motor-details .details-btn {
        display: flex;
        justify-content: space-evenly;
     }
 }

@media (max-width: 990px) {
    #motor-details .a-btn {
        display: none;
        
     }
    #motor-details .details-btn {
        display: none;
    } 
}

