
<main role="main">
  
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">All Available Motors</h1>
      </div>
      <div class="bs-component">
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
        </div>
     
        <form [formGroup]="form" (ngSubmit)="search()" class="form-inline my-2 my-lg-0" >
          <input formControlName="searchValue" class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>


        <h1 *ngIf="!motors || motors.length === 0">There is no Motors available!</h1>

      <div *ngIf="motors" class="panel-body">
        <div class="row"> 
        <div *ngFor="let motor of motors" class="col-md-3">
          <div>
          <app-motor [motor]="motor">
          </app-motor>
          </div>
        </div>  
        </div>
      </div>

     

    </div>
    
    
    </div>
    </main>
