<h1>Welcome to SoftUni Wiki!</h1>
                <section>
                    <h2>{{title}}</h2>
                    <div class="spacer">
                        <h3>Edit hostory</h3>
                        <ul>
                            {{#each edits}}
                            <li>
                                <a href="/article/details/{{article._id}}">{{this.creationDate}}‎</a>
                                <span class="author">{{this.author.email}}</span>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </section>