

@media (min-width: 990px) {
    #login .login-container {
        margin-top: 8%;
        padding-top: 1%;
        padding-bottom: 10%;
        padding-left: 30%;
    }

    #login button {
    
        text-decoration: none;
        margin-left: 37%;
        margin-bottom: 7%;
    }
}

@media (max-width: 990px) {
    #login .login-container {
        
        padding-top: 5rem;
       
    }

    #login button {
    
        text-decoration: none;
        margin-left: 47%;
        margin-bottom: 7%;
    }
}


.login-h2 {
    padding-top: 5%;
    padding-bottom: 10%;
    text-align: center;
}



#login .form-group {
    margin-left: 10%;
}

#login .mb-0 {
    display: inline;
}

.login-form {
    color:#F89406;
}

@media (max-width: 600px) {
    #login button {
        margin-left: 37%;
    }
}

